@using ClientPricingSystem.Core.Dtos
@model List<ClientDto>

<!-- Table -->

<script>
    $('#editClientModal').on('show.bs.modal', function (event) {
        var $button = $(event.relatedTarget);
        var $row = $button.closest("tr");
        console.log($row);
        var $tds = $row.find("td");
        console.log($tds);

        $.each($tds, function(i, value) {
            $(":text:eq(" + `${i}` + ")").val($(this).text());
        })
    })

</script>

<div class="row mt-3">
    <table class="table table-responsive table-hover table-striped rounded-3 overflow-hidden">
        <thead>
            <tr>
                <th> Name </th>
                <th> Address </th>
                <th> MarkupRate </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>       
            @if (Model.Count != 0)
            {
                @foreach (var client in Model)
                {
                    <tr>
                        <td> @client.Name</td>
                        <td> @client.Address</td>
                        <td> @client.MarkupRate</td>
                        <td>
                            <button id="editButton" class="btn btn-outline-success float-end" type="button" href="#" data-bs-toggle="modal" data-bs-target="#editClientModal">
                                <i class="bi bi-pen"></i>
                            </button>
                        </td>
                    </tr>
                }
            } 
            else
            {
                <tr>
                    <td colspan="3" class="text-center">No Records Found</td>
                </tr>
            }

        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal" id="editClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control mr-sm-2" type="text" id="name" />
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input class="form-control mr-sm-2" type="text" id="address" />
                </div>
                <div class="form-group">
                    <label>MarkupRate</label>
                    <input class="form-control mr-sm-2" type="text" id="age" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnSave" onclick="SaveChanges()" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .modal-content{
        font-family: 'Titillium Web', sans-serif;
    }

    .modal-title{
        color: #000;
        font-size: 25px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0 0 5px;
    }

    .modal-title:after{
        content: '';
        background-color: #00A9EF;
        height: 3px;
        width: 110px;
        margin: 5px 0 0;
        display: block;
        clear: both;
    }

    .modal-body .form-group{
        color: #333;
        width: auto;
        padding: 0 8px;
        margin: 0 0 15px;
    }

    .modal-body .form-group label{
        font-size: 18px;
        font-weight: 600px;
        font-style: bold;
    }

    .modal-body .form-group .form-control{
        background: #fff;
        font-weight: 400;
        letter-spacing: 1px;
        height: 40px;
        padding: 6px 12px;
        border-radius: 8px;
        border: 2px solid #e7e7e7;
        box-shadow: none;
    }

</style>