@using ClientPricingSystem.Core.Dtos
@model List<ClientDto>

<!-- Table -->

<script>
    $('#editClientModal').on('show.bs.modal', function (event) {
        var triggerElement = $(event.relatedTarget);
        console.log(triggerElement);
        var row = $(triggerElement).closest("tr");
        console.log(row.html());
        console.log(row.find("td"));
        var data = row.find("td");
        var name = data[0];
        var addr = data[1]
        console.log(data[0]);
        $('#modalBody').append(name);
        
    })

</script>

<div class="row mt-3">
    <table class="table table-responsive table-hover table-striped rounded-3 overflow-hidden">
        <thead>
            <tr>
                <th> Name </th>
                <th> Address </th>
                <th> MarkupRate </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>       
            @if (Model.Count != 0)
            {
                @foreach (var client in Model)
                {
                    <tr>
                        <td> @client.Name</td>
                        <td> @client.Address</td>
                        <td> @client.MarkupRate</td>
                        <td>
                            <input id="editButton" class="btn btn-outline-success float-end" type="button" value="Edit" href="#" data-bs-toggle="modal" data-bs-target="#editClientModal" />
                        </td>
                    </tr>
                }
            } 
            else
            {
                <tr>
                    <td colspan="3" class="text-center">No Records Found</td>
                </tr>
            }

        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal" id="editClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="modal-body">

            </div>

        </div>
    </div>
</div>