@using ClientPricingSystem.Core.Dtos
@model ClientDto
<table class ="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>MarkupRate</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
