<ul>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Get">View orders.</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Create">Create a new order.</a>
    </li>
</ul>
