/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


<p >
@using (Html.BeginForm("Search", "Client", FormMethod.Post)) {
    <div class="btn-group"> <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-outline-success my-2 my-sm-0 m-1" type="submit">Search</button>
    <!-- Button trigger modal -->
    <input type="button" value="Create New Client" href="#" data-bs-toggle="modal" data-bs-target="#newClientModal" class="btn btn-primary ml-5" /> </div>
}

</p >

<table class="table table-success table-responsive table-hover table-striped rounded-3 overflow-hidden" >
<thead >
<tr >
<th > Name</th >
<th > Address</th >
<th > MarkupRate</th >
<th > </th >
</tr >
</thead >
<tbody >
@if (Model.Clients is not null) {
    @foreach (var entry in Model.Clients) {
        <tr >
        <td > @entry.Name</td >
        <td > @entry.Address</td >
        <td > @entry.MarkupRate</td >

        <td >
        @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@

        <a href="javascript:void(0);" class="anchorDetail" data-id="@entry.Id" > Details</a >
        </td >
        </tr >
    }
}

</tbody >
</table >