/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


html, body {
    height: 100%;
}

.body {
    font-family: 'Franklin Gothic'
}

.wrapper {
    display: flex;
    height: 100%;
}

.sidebar {
    flex-grow: 1;
    background: #11101d;
    padding: 6px 6px;
    transition: all 1s ease;
}

    .sidebar.active {
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        min-height: 100%;
        background: #002B36;
        padding: 6px 6px;
        transition: all .4s ease;
    }

.sidebar .logo_content {
    display: flex;
    justify-content: center;
}


.sidebar.active .logo_content .logo {
    opacity: 1;
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.sidebar .logo_content .logo{
    display: none;
}

.logo_content .logo i {
    font-size: 24px;
    margin-right: 5px;
    align-items: center;
}

.logo_content .logo .logo_name{
    font-size: 22px;
    font-weight: 400;
    white-space:nowrap;
}

.sidebar #btn {
    display: flex;
    color: #fff;
    font-size: 24px;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    align-items: center;
    justify-content: center;
}

.sidebar.active #btn {
    display: flex;
    color: #fff;
    font-size: 24px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    align-items: center;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.sidebar.active ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 1;
    padding: 0;
}

.sidebar ul li {
    display: flex;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    text-decoration: none;
    width: 100%;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 1s ease;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #fff;
    width: 100%;
    justify-content: center;
}

.sidebar ul li a i {
    display: flex;
    height: 50px;
    width: 100%;
    border-radius: 12px;
    line-height: 50px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

.sidebar.active ul li a i {
    display: flex;
    width: 40px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 24px;
    align-items: center;
}

.sidebar.active .links_name{
    display: flex;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    opacity: 1;
    pointer-events:auto;
}

.sidebar .links_name{
    display: none;
    pointer-events: none;
}

.main{
    min-height: 100%;
    flex-grow: 9;
    width: calc(100% - 240px);
    transform: translate3d(0,0,0);
    transition: transform .1s;
    margin: 0 25px 0 25px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


